h1{
    font-size:35px;
    color:black;
    font-family: 'Playfair Display', serif;
}
 img{
    width:150px;
    height:250px;
}
body{background-color: #f9f2ec;}
 /* font-family: 'DM Serif Display', serif;
 font-family: 'Vollkorn', serif;
 font-family:'Playfair Display', serif; */
 color-palette{
    background-color:white;
    border:2px;
    padding:10px;
     height:150px;
    width:150px;
}
 #color-1{
    background-color:#E8E0F5;
    height:150px;
    width:150px;
    border:5px;
}
 #color-2{
    background-color:#0D070A;
     height:150px;
     width:150px;
}
.color-2, span{
    color:white;
}
 #color-3{
    background-color:#C0A487;
    height:150px;
    width:150px;
}
 #color-4{
    background-color:#C08C87;
    height:150px;
    width:150px;
}
 #color-5{
    background-color:#84849A;
    height:150px;
    width:150px;
}
 #banner{
    background-color:#C0A487;
     max-width:550px;
     margin: auto;
     border:15px solid white;
     outline-width: thin;
     margin-left: auto;
     margin-right: auto;
}
 #name{
    color:white;
    font-size: 45px;
    font-weight:lighter;
     font-family: 'Playfair Display', serif;
    font-style:normal;
    text-align: center;
    margin-top: 15px;
    border-style: solid;
    border-color:white;
}
 #socials{
    font-family: 'DM Serif Display', serif;
    font-style: italic;
     font-size: 18px;
    color:white;
    font-weight: bold;
    text-align: center;
}
 #profile img{
     margin: 0 auto;
     width: 150px;
     height: auto;
     display: block;
}
 #tag{
    font-family: 'Playfair Display', serif;
     color:black;
    position: relative;
     font-style: normal;
    font-weight:bolder;
    max-width: 500px;
    text-align: center;
    margin: 10px auto;
}

 #content{
     text-align: center;
     height:1150px;
     margin-left: 150px;
     margin-right: 150px;
     font-family:'Vollkorn', serif;
     font-size:25px;
     color: black;
     background-color:lightgrey;
       border: 10px solid white;
}
 #pages{
    text-align: right;
    background-color: lightgrey;
}
 #background{
    text-align: center;
     margin-left: 150px;
     margin-right: 150px;
     font-family:'Playfair Display', serif;
     font-size: 20px;
     color:black;
     font-weight: bolder;
      margin-bottom: 45px;
      border: 7px;
      border-style: solid;
      border-color: black;
       margin-top: 40px;
       background-color: #e8ccd7;
}
 #background h2{
    border-style:solid;
    border-width:3px;
     outline-width: thin;
     color:black;
}
 .headline{
    text-align: center;
}
 .headline h1{
    font-size: 45px;
     border-style:solid;
     outline-width: thin;
     background-color: #e8ccd7;
     border-width:5px;
     border-color:black;
}
 #abouttext{
     background-color: #C0A487;
     color:black;
     font-family: 'Playfair Display', serif;
     font-size: 20px;
     text-align: center;
     margin-left: 150px;
     margin-right: 150px;
     border-style:solid;
     outline-width: thin;
     font-weight: bold;
}
 .aboutimage{
    text-align: right;
}
 .aboutimage img{
    height:480px;
     width:325px;
}
 .resume{
    background-color:#F8F7F6;
    max-width: 600px;
     font-family: 'Playfair Display', serif;
     font-weight: bold;
     font-size: 18px;
     border-style:solid;
     outline-width: thin;
     text-align: center;
}
 .resume h2{
    color:#C0A487;
     border-style:solid;
     outline-width: thin;
     text-align: center;
}
 .resume h3{
    color:#84849A;
     border-style:solid;
     outline-width: thin;
     text-align: center;
}
 .resume h1{
    text-align: center;
     font-size: 45px;
     border-style: solid;
     outline-width: thin;
}
 #content h1{
    border-style: solid;
     outline-width: thin;
}

#about .flex-container {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 25px;
}

#about .flex-container .aboutimage {
    order: 2;
}
#content .flex-container1 {
  display:inline-block;
}
#content .flex-container1 img{height:250px;
width:335px;}
#projectsimage img {display: block;
margin:0 auto;
width:175px;
height:auto;
display:block;
border:3px solid black;
border-radius: 50%;}

.previouscaption p{font-family: 'Playfair Display', serif;
    color: black;
    position: relative;
    font-style: normal;
    font-weight: bolder;
    max-width: 650px;
    text-align: center;
    margin: 10px auto;
  font-size: 20px;
  border:solid;
border-width:20px;
border-color: #84849A;
background-color:#E8E0F5;}

#projectlinks .flex-container2{
  display:flex;
justify-content: center;
margin-left:150px;
margin-right:150px;
gap: 100px;
font-family: 'Playfair Display', serif;
font-weight: bold;
font-size: 18px;
border:solid;
border-width:5px;
border-color:black;
background-color:#e8ccd7;
margin-top:5px;
}
#projectlinks .flex-container2 .shows{ display: block;
text-align: center;}
#projectlinks .flex-container2 .shows img{ width:335px; height:auto;margin-left: 10px;margin-top: 10px;}

#projectlinks .flex-container2 .articles{ display: block;
  text-align: center;
  order:2;
}
#projectlinks .flex-container2 .articles img{ width:335px; height:auto;margin-right: 10px;margin-top: 10px;}

#projectlinks .flex-container3{display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  grid-column-gap: 300px;
  border:solid black;
border-width:5px;
background-color: #C0A487;
flex-direction: row;
}
#projectlinks .flex-container3 h1{color:white;
  border: 2px dashed white;}

@media screen and (max-width: 950px){#about .flex-container {
        flex-direction: column;
        align-items: center;
    }

    #about .flex-container .aboutimage {
        order: -1;
    }
    #projectlinks .flex-container3 {
      flex-direction: column;
      align-items: center;}
      #projectlinks .flex-container2{  flex-direction: column;
        align-items: center;
      display: inline-block;}
      }
