h1{font-size:36px;color: #33485e;font-family: 'Playfair Display', serif;}
img{width:120px;margin:15px;border-radius: 50%}
font-family: 'DM Serif Display', serif;
font-family: 'Vollkorn', serif;
color-palette{background-color:white;border:2px;padding:10px;height:150px;width:150px;}
#color-1{background-color:#E8E0F5;height:150px;width:150px;border:5px;}
#color-2{background-color:#0D070A;
  height:150px;
  width:150px;}
color-2, span{color:white;}
#color-3{background-color:#C0A487;height:150px;width:150px;}
#color-4{background-color:#C08C87;height:150px;width:150px;}
#color-5{background-color:#84849A;height:150px;width:150px;}
#banner{background-color:#C0A487;
  height:335px;
  width:450px;
  margin: auto;
  border-style:solid;
  outline-color: black;
  outline-width: thin;
  top:-30px;
}
#name{color:black;font-size: 45px;font-weight:bolder;font-family: 'DM Serif Display', serif;position: relative;right: -65px;bottom:+25px}
#socials{font-family: 'DM Serif Display', serif;font-style: italic;font-size: 18px;color:white;font-weight: bold;position: relative;right:-110px;bottom:+55px;}
#profile{direction: rtl;position: relative;top:-152px;left:-155px;border-radius: 50%}
#tag{font-family:'Vollkorn', serif;color:white;position: relative;right:-70px;font-style: italic;font-weight:lighter;font-size: 20px;bottom: -135px;}
